body{
    background-color: rgb(241, 241, 241);
}

header{
    display: flex;    
}

header i{
    margin-right: 10px;
    padding: 18px 0;
    
}

.items{
    display: flex;
    justify-content: space-between;
}

.trash{
    cursor: pointer;
}

main{
    width: 300px;
    margin: auto;
}

form{
    display: flex;
    flex-direction: column;

}

form input, button{
    margin-left: 0;
    margin-right: 0;
    height: 30px;
    margin-top: 10px;
}

.items{
    background-color: rgb(255, 255, 255);
    margin-top: 5%;
    padding: 15px 0;
    padding-left: 10px;
    padding-right: 10px;
}

.title{
    font-size: 30px;
}

.button{
    background-color: white;
    border: 0;
    transition: .3s;
    cursor: pointer;
}

.button:hover{
    background-color: black;
    color: wheat;
}